@model CookieOrderViewModel

@{
    ViewData["Title"] = "CookieOrder";
}
<h2>Your Order</h2>


@using (Html.BeginForm("CookieOrder", "Home", FormMethod.Post, new { id = "cookieOrder" }))
{
    <div class="form-group">
        @Html.Label("Name:")
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.Label("Address:")
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Where can I deliver your cookies?" })
        @Html.ValidationMessage("Address", "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.Label("City:")
        @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Enter your city (no state)" })
        @Html.ValidationMessage("City", "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Email Address:")
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email address (me@email.com)" })
        @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
    </div>
    <p />

    <div>
        @Html.Label("Boxes ordered:")
    </div>
    @if (Model != null)
    {
        @foreach (CookieOrder cookieOrder in Model.CookieOrders)
        {
            <div>
                @Html.Label(Model.Cookies[cookieOrder.CookieId - 1].Name + ":")
                @Html.Label(cookieOrder.NumberOfBoxes.ToString())
            </div>
        }

        <div>
            @Html.LabelFor(m => m.TotalDue, "Total Due:")
            $@Model.TotalDue
        </div>
    }

    <p>
        @Html.HiddenFor(m => m.OrderId)
        <input type="submit" value="Confirm Order" />
    </p>
}

    <script src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    $(document).ready(function () {
        $("#cookieOrder").validate({
            rules: {
                'Name': {
                    required: true
                },
                'Address': {
                    required: true
                },
                'City': {
                    required: true
                },
                'Email': {
                    required: true,
                    email: true
                }
            },

            messages: {
                'Name': {
                    required: "Please enter a name."
                },
                'Address': {
                    required: "Please enter an address."
                },
                'City': {
                    required: "Please enter a city (no state)"
                },
                'Email': {
                    required: "Please enter an e-mail address",
                    email: "Please enter a valid e-mail address."
                }
            }
        });
    })

</script>