@model CookieOrderViewModel

@{
    ViewData["Title"] = "Order Cookies from Lexi";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @using (Html.BeginForm("CookieOrder", "Home", FormMethod.Post))
    {

        <div class="wrapper">

            <div>
                @Html.Label("Name:")
                @Html.TextBoxFor(m => m.Name)
            </div>
            <p/>
            <p />
            <div>
                @Html.Label("Address:")
                @Html.TextBoxFor(m => m.AddressLine1)
            </div>
            <p />

            <div>
                @Html.Label("Boxes ordered:")
            </div>
            @foreach (Cookie cookie in Model.Cookies)
            {
                @*@if (cookie.Amount > 0)
                {*@
                    <div>
                        @Html.Label(cookie.Name + ":")
                        @*@Html.Label(cookie.Amount.ToString())*@
                    </div>
                @*}*@
            }

            <div>
                @Html.LabelFor(m => m.TotalDue, "Total Due:")
                $@Model.TotalDue
            </div>

        </div>

        <p>

            <input type="submit" value="Confirm Order" />
        </p>
    }

</body>
</html>