@model CookieViewModel

@{
    ViewData["Title"] = "Home";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    @using (Html.BeginForm("Order", "Home", FormMethod.Post))
    {

        <div class="gridContainer">
            @for (int cookieCount = 0; cookieCount < Model.Cookies.Count; cookieCount++)
            {
                <div class="cookieItem">
                    <p class="cookieTitle">@Html.Label(Model.Cookies[cookieCount].Name) <a href="#" data-toggle="popover" data-trigger="focus" title="@Model.Cookies[cookieCount].Name" data-content="@Model.Cookies[cookieCount].Description"><i class="fas fa-info-circle"></i></a></p>

                    @Html.DropDownListFor(m => m.Cookies[cookieCount].Amount, new SelectList(HtmlLists.CookieAmounts, "Value", "Text"))<br />
                    <img src="@Model.Cookies[cookieCount].ImagePath" />
                </div>

            }
            <br />

            <p>
                <input type="submit" value="Order"/>
            </p>
        </div>

    }

    <script src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

</body>
</html>