@model IEnumerable<CookieOrders.Models.Customer>

<h2>Customer List</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label asp-for="@item.Name"></label>
                </td>
                <td>
                    <label asp-for="@item.Address"></label>
                </td>
                <td>
                    <label asp-for="@item.City"></label>
                </td>
            </tr>
        }
    </tbody>
</table>